name: Check linting

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  Check-flake8:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - 
        name: Get Diff Action
        uses: technote-space/get-diff-action@v4.0.1
        with:
          PATTERNS: cleaning_app/**/*.py

      -
        name: Install flake8
        run: pip install flake8 pyproject-flake8

      -
        name: flake8
        run: pflake8 ${{ env.GIT_DIFF_FILTERED }}
        if: env.GIT_DIFF_FILTERED
      
  Check-black:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - 
        name: Get Diff Action
        uses: technote-space/get-diff-action@v4.0.1
        with:
          PATTERNS: cleaning_app/**/*.py

      -
        name: Install black
        run: pip install black

      -
        name: black
        run: black ${{ env.GIT_DIFF_FILTERED }} --verbose --check
        if: env.GIT_DIFF_FILTERED
